.container .content {
    max-width: 1200px;
    margin: 0 auto;
}

.content{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 930px;
}

.beardcrumb {
    padding-left: 20px;
    color: #4a4a4a;
}

.beardcrumb i {
    font-size: 11px;
}

.beardcrumb a:hover {
    color: #f18121;
}

.beardcrumb a {
    font-size: 15px;
    line-height: 1.45;
    font-weight: 100;
    color: #4a4a4a;
    text-decoration: none;
}

.beardcrumb a:first-child {
    margin-right: 10px;
}

.beardcrumb a:last-child {
    margin-left: 10px;
}

.img {
    width: 190px;
    height: 299.44px;
    float: left;
}

.img img {
    margin-top: 35px;
    margin-left: 35px;
    box-shadow: 0 0 8px 0 #757575;
    border-radius: 6px;
    overflow: hidden;
}

.info {
    float: left;
    margin-top: 40px;
    margin-left: 60px;
}

.info h1 {
    font-family: sans-serif;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 700;
    color: #000;
    padding-bottom: 5px;
    margin-bottom: 0;
}

.info-item {
    margin-bottom: 5px;
    display: block;
}

.sp01 {
    padding-left: 15px;
}

.sp02 {
    font-size: 13px;
    padding-left: 3px;
    color: #424242;
}

.list-tag-story {
    font-weight: 400;
    margin: 0px 0px 5px;
    padding: 0;
    margin-top: 5px;
    list-style: none;
    margin-bottom: 10px;
}

.list-tag-story li:hover {
    background-color: #f18121;
}

.list-tag-story li:hover a {
    color: #ffffff;
}

.list-tag-story li {
    border: 1px solid #f18121;
    display: inline-block;
    border-radius: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 1px;
    margin-right: 10px;
}

.list-tag-story li a {
    color: #f18121;
    font-size: 15px;
    padding-left: 6px;
    margin: 0px 10px 0px 0px;
    display: inline-table;
}

a {
    text-decoration: none;
}

.story-detail-menu li.li01 {
    float: left;
    border-radius: 29px;
    padding-left: 2px;
    width: 160px;
    height: 40px;
    padding-right: 2px;
    background: #8bc34a;
}

.story-detail-menu li.li05 {
    border-radius: 29px;
    padding-left: 2px;
    width: 160px;
    height: 40px;
    margin-left: 180px;
    padding-right: 2px;
    background: #2c7abe;
}

.story-detail-menu {
    list-style: none;
}

.story-detail-menu li.li01 a {
    font-size: 16px;
    float: left;
    color: #fff !important;
    margin-right: 8px;
    padding-left: 15px;
    padding-top: 6px;
    padding-right: 5px;
    min-width: 145px;
}

.story-detail-menu li.li05 a {
    font-size: 16px;
    float: left;
    color: #fff !important;
    margin-right: 8px;
    padding-left: 15px;
    padding-top: 6px;
    padding-right: 5px;
    min-width: 145px;
}
.info .story-detail-info{
    width: 800px;
}

.btn-read {
    background: url(../images/story-list-icon02.png) left center no-repeat;
    background-size: 24px 24px !important;
    height: 24px;
}

.btn-request {
    background: url(../images/story-list-icon05.png) left center no-repeat;
    background-size: 24px 24px !important;
    height: 24px;
}

.story-detail-menu li a span {
    width: 24px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: text-bottom;
}

.story-detail-info {
    margin-top: 10px;
    width: 876px;
}

.text-orange {
    color: #f18121;
}

.header-section {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -.8px;
    line-height: 1;
    margin-left: 35px;
    padding-top: 20px;
    clear: both;
}

.boxlist {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    width: 900px;
    max-height: 500px;
    overflow-y: scroll;
}

.chapter-item {
    border-bottom: 1px solid #eee;
    padding: 5px 0;
}

.list-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.text-right {
    text-align: right !important;
}

a {
    color: #4a4a4a;
}

.col-md-2 {
    flex: 0 0 20%;
    max-width: 20%;
}

.col-md-10 {
    flex: 0 0 80%;
    max-width: 80%;
}
.row-fb{
    width: 100%;
}
.row-fb .card-fb{
    margin: 0 auto;
    padding: 0 50px;
}
.card-fb h3{
    margin-left: 120px;
}
.card-fb .fb-comments{
    margin-left: 120px;
}